<!DOCTYPE html>
<html>
  <head>
    <title><%= i18nTest$text$projectName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= i18nTest$text$projectName %></h1>
    <p>Welcome to <%= i18nTest$text$projectName %></p>
  </body>
</html>
